<h1>Search Github Repositories</h1>
<%= form_tag '/search' do %>
  <%= label_tag :query %>
  <%= text_field_tag :query %>
  <%= submit_tag "Search Github!" %>
<% end %>

<% if @results %>
  <div>
    <% @results.each do |result| %>
      <h3><%= result["name"] %></h3>
      <%= link_to result["html_url"], result["html_url"] %>
      <br>
      <p><%= result["description"] %></p>
    <% end %>
  </div>
<% end %>