<h1>Search Github Repositories</h1>
<%= form_tag '/search' do %>
  <%= label_tag :query %>
  <%= text_field_tag :query %>
  <%= submit_tag "Search Github!" %>
<% end %>
<div>
  <div>
  <% if @error %>
  <p><%= @error %></p>
  <% else %>
    <ul>
      <li> <%=@name %> </li>
      <li> <%=@desc%> </li>
      <li> <a href="<%=@repo_url%>"><%=@repo_url%></a> </li>
    </ul>
  <%end%>
</div>
