<h1>Search Github Repositories</h1>
<%= form_tag '/search' do %>
  <%= label_tag :query %>
  <%= text_field_tag :query %>
  <%= submit_tag "Search Github!" %>
<% end %>

<% if @results %>
  <ul>
  <% @results["items"].each do |res| %>
    <li>
        <p><%= res['name'] %></p>
        <p><%= res['description'] %></p>
        <a href="<%= res["html_url"] %>"><%= res["html_url"] %></a>
    </li>
  <% end %>
  </ul>
<% end %>
