<h1>Search Github Repositories</h1>
<%= form_tag '/search' do %>
  <%= label_tag :query %>
  <%= text_field_tag :query %>
  <%= submit_tag "Search Github!" %>
<% end %>

<h2>Repositories Found</h2>
  <% if @repos %>
    <ul>
      <% @repos.each do |repo| %>
      <li>
        <p>Name: <%= repo["name"] %></p>
        <p>Url: <%= link_to repo["html_url"], repo["html_url"] %></p>
        <p>Description: <%= repo["description"] %></p>
      </li>
      <% end %>
    </ul>
<% end %>
