<h1>Search Github Repositories</h1>
<%= form_tag '/search' do %>
  <%= label_tag :query %>
  <%= text_field_tag :query %>
  <%= submit_tag "Search Github!" %>
<% end %>

<div>
  <% if @error %>
    <p>
      <%= @error %>
    </p>
  <% elsif @repositories %>
    <ul>
      <% @repositories.each do |repo| %>
        <li>
          <p>
            Repository Name:<br>
            <%= repo["name"] %><br><br>
            Link:<br>
            <%= link_to repo["html_url"], repo["html_url"] %><br><br>
            Description:<br>
            <%= repo["description"]%><br>
          </p>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
