<h1>Search Github Repositories</h1>
<%= form_tag '/search' do %>
  <%= label_tag :query %>
  <%= text_field_tag :query %>
  <%= submit_tag "Search Github!" %>
<% end %>


<div>
  <% if @repos %>
    <ul>
      <% @repos.each do |repo| %>
    <li>
      Name: <%= repo["name"] %><br />
      URL: <a href="<%= repo["html_url"] %>"><%= repo["html_url"] %></a><br />
      Description: <%= repo["description"] %><br /><br />
    </li>
    <% end %>
    </ul>
  <% end %>
</div>
