<h1>Search Github Repositories</h1>
<%= form_tag '/search' do %>
  <%= label_tag :query %>
  <%= text_field_tag :query %>
  <%= submit_tag "Search Github!" %>
<% end %>

<div>
<% if !@results %><br>
  <%= 'No results or blank' %>
  <% elsif @results %>
  <ul>
  <% @results.each do |result| %>
  <li>
    Name: <%= result["name"] %> <br>
    URL: <%= link_to result["html_url"],result["html_url"]%> <br>
    Description: <%= result["description"] %><br><br>
  </li>
  <% end %>

 </ul>
<% end %>
</div>
