<h1>Search Github Repositories</h1>
<%= form_tag '/search' do %>
  <%= label_tag :query %>
  <%= text_field_tag :query %>
  <%= submit_tag "Search Github!" %>
<% end %>


<div>
  <% if @error %>
    <p><%= @error %></p>
  <% elsif @content %>
    <ul>
    <% @content['items'].each do |repo| %>
      <li>
        <a href='<%= repo['html_url'] %>'><%= repo['name'] %></a>
        <a href='<%= repo['html_url'] %>'><%= repo['html_url'] %></a>
        <%= repo['name'] %>
        <%= repo['description'] %>
      </li>
    <% end %>
    </ul>
  <% end %>
</div>