<h1>Search Github Repositories</h1>
<%= form_tag '/search' do %>
  <%= label_tag :query %>
  <%= text_field_tag :query %>
  <%= submit_tag "Search Github!" %>
<% end %>
<% if @repos %>
  <%@repos.each do |repo|%>
  <div>
    <h2><a href="<%=repo['url']%>"><%=repo["name"]%></a></h2>
    <p><a href="<%=repo['html_url']%>"><%=repo["html_url"]%></a></p>
    <p><%=repo["description"]%></p>
  </div>
  <%end%>
<%end%>
    

