<h1>Search Github Repositories</h1>
<%= form_tag '/search' do %>
  <%= label_tag :query %>
  <%= text_field_tag :query %>
  <%= submit_tag "Search Github!" %>
<% end %>


<% if @items %>
<ul>
  <% @items.each do |i| %>
    <li>
      <p><%= i['description'] %></p>
      <%=link_to i['html_url'], i['html_url']%>
    </li>
  <% end %>
<ul>
<% end %>
