<h1>Search Github Repositories</h1>
<%= form_tag '/search' do %>
  <%= label_tag :query %>
  <%= text_field_tag :query %>
  <%= submit_tag "Search Github!" %>
<% end %>


<% if @list %>
  <% @list.each do |list| %>
    <li><%= list["name"] %>
    Url: <%= link_to list["html_url"], list["html_url"] %><br>
   Description: <%= list["description"] %>
 </li>
  <% end %>
<% end %>
