<h1>Search Github Repositories</h1>
<%= form_tag '/search' do %>
  <%= label_tag :query %>
  <%= text_field_tag :query %>
  <%= submit_tag "Search Github!" %>
<% end %>
<div>
  <% if @error %>
    <p><%= @error %></p>
  <% elsif @results %>
    <ul>
    <% @results.each do |body| %>
      <li>
        <%= body["name"] %><br>
        <%= link_to body["html_url"], body["html_url"] %><br>
        <%= body["description"] %>
      </li>
    <% end %>
    </ul>
  <% end %>
</div>
