<h1>Search Github Repositories</h1>
<%= form_tag '/search' do %>
  <%= label_tag :query %>
  <%= text_field_tag :query %>
  <%= submit_tag "Search Github!" %>
<% end %>

<% if @results %>
  <ul>
    <% @results.each do |res| %>
      <li><%= res['name'] %><br />
      <%= link_to res['html_url'], res['html_url']%><br />
      <%= res['description'] %>
    <% end %>
  <ul>
<% end %>
