<h1>Search Github Repositories</h1>
<%= form_tag '/search' do %>
  <%= label_tag :query %>
  <%= text_field_tag :query %>
  <%= submit_tag "Search Github!" %>
<% end %>

<% if @repos %>
  <% @repos.each do |repo| %>
    <%=link_to repo["html_url"], repo["html_url"] %>
    <%= repo["name"] %>
    <%= repo["description"] %>
  <% end %>
<% end %>
