<h1>Search Github Repositories</h1>
<%= form_tag '/search' do %>
  <%= label_tag :query %>
  <%= text_field_tag :query %>
  <%= submit_tag "Search Github!" %>
<% end %>

<% if @resp %> 
 <ul>
   <% @repo.each do |resp| %>
     <li>
       <p>Name: <%= resp["name"] %> </p>
       <p>URL: <a href="<%= resp["html_url"] %>"> <%= resp["html_url"] %></a> </p>
       <p>Description: <%= resp['description'] %> </p>
     </li>
   <%end %>
 </ul>
<%end %>