<h1>Search Github Repositories</h1>
<%= form_tag '/search' do %>
  <%= label_tag :query %>
  <%= text_field_tag :query %>
  <%= submit_tag "Search Github!" %>
<% end %>

<% if @resp_data %>
<ul>
  <% @resp_data.each do |data| %>
    <li><%= data["name"] %><br>
        <%= link_to data["html_url"], data["html_url"] %><br>
        <%= data["description"] %>
    </li>
  <% end %>
</ul>
<% end %>
