<h1>Search Github Repositories</h1>
<%= form_tag '/search' do %>
  <%= label_tag :query %>
  <%= text_field_tag :query %>
  <%= submit_tag "Search Github!" %>
<% end %>

<ul>
<% if @projects %>
  <% @projects.each do |project| %>
    <li>
      <h4><b>Proj Name:</b><%= project["name"] %></h4>
      <h5><b>Description:</b><%= project["description"] %></h5>
      <%= link_to "#{project["html_url"]}", project["html_url"] %>
    </li>
  <% end %>
<% end %>
</ul>
