<h1>Search Github Repositories</h1>
<%= form_tag '/search' do %>
  <%= label_tag :query %>
  <%= text_field_tag :query %>
  <%= submit_tag "Search Github!" %>
<% end %>
<div>
  <% if @results %>
  <ul>
    <% @results.each do |result| %>
      <li><%= result["name"] %> - <%= result["description"]%><br>
        <a href="<%=result["html_url"]%>"><%=result["html_url"]%></a></li>
      <% end %>
  </ul>
  <% end %>

</div>
