<h1>Search Github Repositories</h1>
<%= form_tag '/search' do %>
  <%= label_tag :query %>
  <%= text_field_tag :query %>
  <%= submit_tag "Search Github!" %>
<% end %>

<% if @details %>
  <h2>Found:</h2>
    <% @details.each do |d| %>
    <p>Repo name: <%= d["name"] %> </p>
    <p><%= link_to d["html_url"], d["html_url"] %></p>
    <p>description:<%= d["description"] %> </p><br>
    <% end %>
<% end %>


