<h1>Search Github Repositories</h1>
<%= form_tag '/search' do %>
  <%= label_tag :query %>
  <%= text_field_tag :query %>
  <%= submit_tag "Search Github!" %>
<% end %>

<% if @result %>
  Name: <%= @result["name"] %>
  Link: <a href="<%= @result["html_url"] %>"><%= @result["html_url"] %></a>
  Description: <%= @result["description"] %>
<% end %>
