<h1>Search Github Repositories</h1>
<%= form_tag '/search' do %>
  <%= label_tag :query %>
  <%= text_field_tag :query %>
  <%= submit_tag "Search Github!" %>
<% end %>

<% if @found_repos %>  
 <h1> Search Results </h1>
<table border=1>
  <tr>
    <th>
      Name
    </th>
    <th>
      Link
    </th>
    <th>
      Description
      </th>
  </tr>

  <% @found_repos.each do |repository| %>
    <tr>
      <td>
        <%= repository[:name] %>
      </td>
      <td>
        <a href=<%= repository[:url] %>><%= repository[:url] %></a>
      </td>
      <td>               
        <%= repository[:description] %>
      </td>
    </tr>
  <% end %>
  </table>
<% end %>