<h1>Search Github Repositories</h1>
<%= form_tag '/search' do %>
  <%= label_tag :query %>
  <%= text_field_tag :query %>
  <%= submit_tag "Search Github!" %>
<% end %>

<% if @items %>
<h2>Results:</h2>
<ul>
  <% @items.each do |item| %>
    <li><%= item["name"] %>, <%= link_to item["html_url"], item["html_url"] %> <br>
    <%= item["description"] %>
    </li>
  <% end %>
</ul>
<% end %>