<h1>Search Github Repositories</h1>
<%= form_tag '/search' do %>
  <%= label_tag :query %>
  <%= text_field_tag :query %>
  <%= submit_tag "Search Github!" %>
<% end %>

<div>
  <div>
  <% if @items %>
    <% @items.collect do |item| %>
      <h2><%= item["name"] %></h2>
      <a href="<%= item["html_url"]%>"><%= item["html_url"]%></a>
      
      <p><%= item["description"] %></p>
    <% end %>
  <% end %>
</div>
</div>