<h1>Search Github Repositories</h1>
<%= form_tag '/search' do %>
  <%= label_tag :query %>
  <%= text_field_tag :query %>
  <%= submit_tag "Search Github!" %>
<% end %>
<div>
  <ul>
    <li>
      Name: <%= @name %><br>
      Link: <%= link_to @link, @link %><br>

      Description: <%= @description %>
    </li>
  </ul>
</div>
