<h1>Search Github Repositories</h1>
<%= form_tag '/search' do %>
  <%= label_tag :query %>
  <%= text_field_tag :query %>
  <%= submit_tag "Search Github!" %>
<% end %>
<br>
<% if @response %>
	<% @response['items'].each do |item| %>

		<%= link_to item['html_url'], item['html_url']%>
		<%= item['description'] %>
		<br>
	<% end %>
<%end%>


