<h1>Search Github Repositories</h1>
<%= form_tag '/search' do %>
  <%= label_tag :query %>
  <%= text_field_tag :query %>
  <%= submit_tag "Search Github!" %>
<% end %>

<div>
<% if @error %>
    <p><%= @error %> </p>
<% elsif @responses %>
    <% @responses.each do |response| %>
    <ul>
        <li>
        <%= response['name'] %>
        <%= link_to "https://github.com/#{response['full_name']}", "https://github.com/#{response['full_name']}" %>
        <%= response['description'] %>
        </li>
    </ul>
    <% end%>
<%end%>

</div>


