<h1>Search Github Repositories</h1>
<%= form_tag '/search' do %>
  <%= label_tag :query %>
  <%= text_field_tag :query %>
  <%= submit_tag "Search Github!" %>
<% end %>

<div>
  <% if @venues %>
    <ul>
    <% @venues.each do |venue| %>
      <li>
        <%= venue["full_name"] %><br>
        <%# venue["html_url"] %><br>
        <a href= <%= venue["html_url"] %>><%= venue["html_url"] %></a>
        Description: <%= venue["description"] %>
      </li>
    <% end %>
    </ul>
  <% end %>
</div>