<h1>Search Github Repositories</h1>
<%= form_tag '/search' do %>
  <%= label_tag :query %>
  <%= text_field_tag :query %>
  <%= submit_tag "Search Github!" %>
<% end %>
<div>
 <% if @results %>
  <%= @results[0]["name"] %>
  <%= @results[0]["description"]%>
  <%= link_to @results[0]["html_url"],  @results[0]["html_url"]%>
  <a href="<%= @results[0]["html_url"] %>"><%= @results[0]["html_url"] %></a>
<% end %>
</div>
