<h1>Search Github Repositories</h1>
<%= form_tag '/search' do %>
  <%= label_tag :query %>
  <%= text_field_tag :query %>
  <%= submit_tag "Search Github!" %>
<% end %>
<%= binding.pry%>
<%if @response.each do |x|%>
<div class="">
<ul>
  <li><%= link_to x['owner']['url'], x['owner']['url'] %></li>
</ul>

</div>
<%end%>


<%else @error%>
<%end%>
