<h1>Search Github Repositories</h1>
<%= form_tag '/search' do %>
  <%= label_tag :query %>
  <%= text_field_tag :query %>
  <%= submit_tag "Search Github!" %>
<% end %>

<% if @repositories%>
<ul>
  <% @repositories.each do |rep|%>
  <li>
    <%= rep['name'] %>
    <%= link_to rep['html_url'], rep['html_url'] %>
    <%= rep['description'] %>
  </li>
  <%end%>
</ul>
<%end%>
