<h1>Search Github Repositories</h1>
<%= form_tag '/search' do %>
  <%= label_tag :query %>
  <%= text_field_tag :query %>
  <%= submit_tag "Search Github!" %>
<% end %>

<% if @results %>
	<% @results.each do |result| %>
		<p>
		name: <%= result["name"] %>
		<%= link_to result["html_url"], result["html_url"] %>
		description: <%= result["description"] %>
		</p>
	<% end %>
<% elsif %>
	<%= @error %>
<% end %>