<h1>Search Github Repositories</h1>
<%= form_tag '/search' do %>
  <%= label_tag :query %>
  <%= text_field_tag :query %>
  <%= submit_tag "Search Github!" %>
<% end %>

<div>
<% if @errors %>
  <% @errors.each do |error| %>
    <p>Oops! There was the following error: <%= error["resource"] %> <%= error["field"] %> <%= error["code"] %></p>
  <% end %>
<% elsif @repos %>
  <% @repos.each do |repo| %>
    <h3><%= repo["name"] %></h3>
    <p><%= repo["description"] %></p>
    <%= link_to repo["html_url"], repo["html_url"] %>
  <% end %>
<% end %>
</div>

