<h1>Search Github Repositories</h1>
<%= form_tag '/search' do %>
  <%= label_tag :query %>
  <%= text_field_tag :query %>
  <%= submit_tag "Search Github!" %>
<% end %>

<div>
  <% if @repos %>
    <ul>
      <% @repos.each do |repo| %>
        <li>
          <p><%= repo['name'] %></p>
          <a href="<%= repo['html_url'] %>"> <%= repo['html_url'] %> </a>
          <p> <%= repo['description']%> </p>
        </li>
      <% end %>
    </ul>
  <% elsif @error %>
    <p><% @error %></p>
  <% end %>
</div>

