<h1>Search Github Repositories</h1>
<%= form_tag '/search' do %>
  <%= label_tag :query %>
  <%= text_field_tag :query %>
  <%= submit_tag "Search Github!" %>
<% end %>

<% if @repository != nil %>
    <%= link_to @repository['html_url'], @repository['html_url'] %>
    <%= @repository['name'] %>
    <%= @repository['description'] %>
<% end %>
