<h1>Search Github Repositories</h1>
<%= form_tag '/search' do %>
  <%= label_tag :query %>
  <%= text_field_tag :query %>
  <%= submit_tag "Search Github!" %>
<% end %>

<div >
  <%  if @items %>
    <% @items.each do |e|  %>
      <a href="<%= e['html_url']%>"><%= e["name"] %></a><br><br>
      <%= e["description"] %><br><br><br><br>
    <% end %>
  <% end %>
</div>
