<h1>Search Github Repositories</h1>
<%= form_tag '/search' do %>
  <%= label_tag :query %>
  <%= text_field_tag :query %>
  <%= submit_tag "Search Github!" %>
<% end %>

<div>
  <% if @error %>
    <h3><%= @error %></h3>
  <% elsif @repos %>
            <%# binding.pry %>
    <h1>Search Results</h1>
      <ul>
        <% @repos.each do |r| %>
          Name: <%= r['name'] %><br />
          URL: <a href="<%= r['html_url'] %>"><%= r['html_url'] %></a><br />
          Description: <%= r['description'] %><br />
        <% end %>
      </ul>
  <% end %>
</div>
