<h1>Search Github Repositories</h1>
<%= form_tag '/search' do %>
  <%= label_tag :query %>
  <%= text_field_tag :query %>
  <%= submit_tag "Search Github!" %>
<% end %>

<div>
  <% if @repos %>
    <ul>
      <% @repos.each do |repo| %>
        <p><%= repo["name"] %></p>
        <%= link_to repo["html_url"], repo["html_url"] %>
        <p>Decription: <%= repo["description"] %> </p>
      <% end %>
    </ul>
  <% end %>
</div>