<h1>Search Github Repositories</h1>
<%= form_tag '/search' do %>
  <%= label_tag :query %>
  <%= text_field_tag :query %>
  <%= submit_tag "Search Github!" %>
<% end %>

<% if @resultsbody %>
<%= @resultsbody.each do |result|%>
  <%= link_to("#{result["html_url"]}",result["html_url"]) %>
<% end %>
<% end %>
