<h1>Search Github Repositories</h1>
<%= form_tag '/search' do %>
  <%= label_tag :query %>
  <%= text_field_tag :query %>
  <%= submit_tag "Search Github!" %>
<% end %>
<% if @repos%>
  <ul>
    <% @repos.each do |repo| %>
    <div>
      <li>
        <h2><%= repo["name"] %></h2>
        <h3><%= link_to(repo["html_url"], repo["html_url"]) %></h3>
        <h3><%= repo["description"] %></h3>
      </li>
    </div>
    <% end %>
  </ul>
<% end %>
