<h1>Search Github Repositories</h1>
<%= form_tag '/search' do %>
  <%= label_tag :query %>
  <%= text_field_tag :query %>
  <%= submit_tag "Search Github!" %>
<% end %>

<% if @repos %>
  <% @repos.each do |repo| %>
    Repo Name: <%= repo["name"] %>
    <br>
    Repo Link: <%= link_to repo["html_url"], repo["html_url"] %>
    <br>
    Repo Description: <%= repo["description"] %>
    <br>
  <% end %>
<% end %>

