<h1>Search Github Repositories</h1>
<%= form_tag '/search' do %>
  <%= label_tag :query %>
  <%= text_field_tag :query %>
  <%= submit_tag "Search Github!" %>
<% end %>

<% if @repos %>
<br>
<h2> Repositories Matching Your Search </h2>
<% @repos.each do |repo| %>
  <h3><%= repo['name'] %></h3>
  <ul>
    <li><%= link_to repo["url"], "Link to Repository"%></li>
    <li><%= repo["description"]%></li>
  </ul>
<% end %>
<% end %>

<%= @error if @error %>
