<h1>Search Github Repositories</h1>
<%= form_tag '/search' do %>
  <%= label_tag :query %>
  <%= text_field_tag :query %>
  <%= submit_tag "Search Github!" %>
<% end %>

<div>
  <% if @body %>
  <% @body['items'].each do |item| %>
  	<p><a href='<%= item['html_url'] %>'><%= item['name'] %></a></p>
  	<p><a href='<%= item['html_url'] %>'><%= item['html_url'] %></a></p>
  	<p><%= item['name'] %></p>
  	<p><%= item['description'] %></p>
  	<br>
  <% end %>
  <% end %>
</div>

