<h1>Search Github Repositories</h1>
<%= form_tag '/search' do %>
  <%= label_tag :query %>
  <%= text_field_tag :query %>
  <%= submit_tag "Search Github!" %>
<% end %>
<% if @results %>
<ul>
  <% @results.each do |result| %>
    <li><%= result["name"] %><br>
        <%= link_to result["html_url"], result["html_url"] %><br>
        <%= result["description"] %>
    </li>
  <% end %>
</ul>
<% end %>
