<h1>Search Github Repositories</h1>
<%= form_tag '/search' do %>
  <%= label_tag :query %>
  <%= text_field_tag :query %>
  <%= submit_tag "Search Github!" %>
<% end %>

<% if @error %>
  <p><%= @error %></p>
<% elsif @items %>
  <% @items.each do |item| %>
    <h2><%= item['name'] %></h2>
    <h4><%= link_to item['html_url'], item['html_url'] %></h2>
    <p><%= item['description'] %></p>
  <% end %>
<% end %>