<h1>Search Github Repositories</h1>
<%= form_tag '/search' do %>
  <%= label_tag :query %>
  <%= text_field_tag :query %>
  <%= submit_tag "Search Github!" %>
<% end %>

<!-- After search form, add display of searched contents.  -->
<div>
  <% if @error %>
    <p><%= @error %></p>
  <% elsif @repos %>
    <ul>
    <% @repos.each do |repo| %>
      <li>
        REPO: <%= repo["name"] %><br>
        LINK: <%= link_to repo["html_url"], repo["html_url"] %><br>
        DESCRIPTION: <%= repo["description"] %><br>
      </li>
    <% end %>
    </ul>
  <% end %>
</div>
