<h1>Search Github Repositories</h1>
<%= form_tag '/search' do %>
  <%= label_tag :query %>
  <%= text_field_tag :query %>
  <%= submit_tag "Search Github!" %>
<% end %>

<ul>
  <% if @items %>
    <% @items.each do |item| %>
      <li> <%= link_to item["html_url"], item["html_url"] %></a>
        <%= item["name"] %>
        <%= item["description"] %>
      </li>
    <%end%>
  <%end%>
</ul>
