<h1>Search Github Repositories</h1>
<%= form_tag '/search' do %>
  <%= label_tag :query %>
  <%= text_field_tag :query %>
  <%= submit_tag "Search Github!" %>
<% end %>

<div>
  <% if @repos %>
    <ul>
    <% @repos.each do |repo| %>
      <li>
        <p>Name: <%= repo["name"] %></p>
        <p>Description: <%= repo["description"] %></p>
        <p><%= link_to repo["html_url"], repo["html_url"] %><p>
      </li>
    <% end %>
    </ul>
  <% end %>
</div>
