<h1>Search Github Repositories</h1>
<%= form_tag '/search' do %>
  <%= label_tag :query %>
  <%= text_field_tag :query %>
  <%= submit_tag "Search Github!" %>
<% end %>
<div>
  <% if @error %>
    <p><%= @error %></p>
  <% elsif @repositories %>
    <ul>
      <% @repositories.each do |repository| %>
        <li>
          <%= repository['name'] %><br>
          <a href="<%= repository['html_url'] %>"><%= repository['html_url'] %></a><br>
          <%= repository['description'] %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
