<h1>Search Github Repositories</h1>
<%= form_tag '/search' do %>
  <%= label_tag :query %>
  <%= text_field_tag :query %>
  <%= submit_tag "Search Github!" %>
<% end %>

<br><br>

<div>
  <% if @repos %>
    <% @repos.each do |repo| %>
      Title: <%= repo['name'] %> | <%= link_to repo['html_url'], repo['html_url'] %>
      <br>
      Description: <%= repo['description'] %>
      <br><br>
    <% end %>
  <% end %>
</div>

