<h1>Search Github Repositories</h1>
<%= form_tag '/search' do %>
  <%= label_tag :query %>
  <%= text_field_tag :query %>
  <%= submit_tag "Search Github!" %>
<% end %>

<% if @repos %>

<h1>We have results!</h1>

<% @repos.each { |e|  %>
  <p><%= e["name"] %><br>
  <%= e["description"] %><br>
  <%= link_to e["html_url"], e["html_url"] %><br>
  </p>

<% } %>

<% end %>