<h1>Search Github Repositories</h1>
<%= form_tag '/search' do %>
  <%= label_tag :query %>
  <%= text_field_tag :query %>
  <%= submit_tag "Search Github!" %>
<% end %>

<% if @venues %>
<% @venues.each do |x| %>
<h1><%=x["name"]%></h1>
<p><%=x["description"]%></p>
<%= link_to x["htmnl_url"], x["html_url"] %>
<% end %>

<% elsif @error %>
<h3><%= @error if @error %></h3>

<% end %>
