<h1>Search Github Repositories</h1>
<%= form_tag '/search' do %>
  <%= label_tag :query %>
  <%= text_field_tag :query %>
  <%= submit_tag "Search Github!" %>
<% end %>

<% if @repos %>
    <ul>
    <% @repos.each do |repo| %>
      <li>
        Name: <%= repo["name"] %><br>
        Link: <%= link_to repo["html_url"], repo["html_url"] %><br>
        Description: <%= repo["description"] %><br>
      </li>
    <% end %>
    </ul>
  <% end %>
</div>
