<h1>Search Github Repositories</h1>
<%= form_tag '/search' do %>
  <%= label_tag :query %>
  <%= text_field_tag :query %>
  <%= submit_tag "Search Github!" %>
<% end %>


<% if @body %>
<ul>

  <% @response['items'].each do |response| %>
 <li>  <%= link_to response['html_url'] , response['html_url'] %> </li>
 <%= response['name'] %>
 <%= response['description'] %>
 <% end %>
</ul>

 <% end %>
